img {
  align-self: center;
  justify-self: center;
  max-width: 2rem;
}

.sidebar textarea, .sidebar h2{
  color: white;
  background-color: rgb(46, 46, 46);
}

.sidebar{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}

.section-header{
  display: flex;
  align-items: center;
  gap: 1rem;
}


.sidebar img{
  filter: invert(1);
}

.section-header > img{
  max-width: 3rem;
}

.img-with-text{
  display: grid;
  grid-template-columns: 3rem 1fr;
  width: 100%;
}

.section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.focal .section-content > button.add{
  border: none;
  height: 3rem;
  max-width: 10rem;
  margin: auto;
  box-shadow: 0 0 2px 0 gray;
  font-weight: 900;
  font: inherit;
}