* {
  box-sizing: border-box;
  color: rgb(46, 46, 46);
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
html,
button {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
}

main {
  min-width: 320px;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.sidebar {
  background-color: rgb(46, 46, 46);
  max-width: 320px;
}

.img-container {
  border: 5px solid black;
  background-image: url("/src/assets/icons/face-man-profile.svg");
  filter: invert(1);
  background-size: cover;
  background-position: center;
  border-radius: 80rem;
  width: calc(320px - 4rem);
  height: calc(320px - 4rem);
  margin: 0 auto;
}

input,
textarea {
  display: flex;
  width: 100%;
  appearance: none;
  border: none;
  font: inherit;
  resize: none;
  overflow: hidden;
  border-radius: 0.25rem;
  font-size: 1.1rem;
}

@media (max-width: 425px) {
  .sidebar {
    max-width: 100%;
  }
  main {
    grid-template-columns: auto;
  }
  main > .focal {
    padding-top: 1rem;
  }
}

.item-container {
  border-radius: 0.25rem;
  width: 100%;
  display: flex;
  gap: 0.25rem;
}

button.delete {
  border: none;
  background-color: red;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
button.delete > img {
  min-width: 1rem;
  filter: invert(1);
}

button.add {
  background-color: transparent;
  width: 100%;
}
button.add > img {
  max-width: 1.2rem;
}

.focal {
  padding: 5rem 1rem 1rem 1rem;
}

.header > textarea:first-of-type {
  font-size: 2rem;
  font-weight: bold;
}

.timeline {
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 2px 0 gray;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.timeline > textarea:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 600;
}

.timeline > textarea:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 600;
}

.timeline button.add {
  border: none;
  box-shadow: 0 0 2px 0 gray;
  margin: auto;
}
